<div class="container">
    <h1>Bienvenue sur Je Trie ... !</h1>
    <p>Apprends à trier les figures géométriques selon :</p>
    <div class="categories">
    <a routerLink="/triParFormes" class="category-button">Les Formes</a>
    <a routerLink="/triParTailles" class="category-button">Les Tailles</a>
    <a routerLink="/triParCouleurs" class="category-button">Les Couleurs</a>
    </div>
    
    <p>Choisis un des trois tris possibles et range les figures dans les bonnes boîtes</p> 
    <button class="setting" (click)="openPopup()">
        <mat-icon class="settings">wb_incandescent</mat-icon>
        <p>Consignes</p>
    </button>
    
</div>