<div class="container">
    <h2>Consignes</h2>
    <p>Ce jeu s'adresse aux élèves de maternelle.
        <br>Il a pour but d'apprendre à trier en fonction d'une catégorie <br> pré-définie, à savoir :
    </p>
    <ul>
        <li>les formes</li>
        <li>les tailles</li>
        <li>les couleurs</li>    
    </ul>
    <p>A chaque fois il faudra tout ranger pour terminer le niveau. 
        <br> Il n'y a le droit qu'à 6 erreurs maximum. 
        <br> Chaque victoire permet de gagner une coupe !</p>

    <button mat-button (click)="close()" class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>



