<div class="container">
    <canvas #canvas width="1500" height="1000" 
            (mousedown)="onMouseDown($event)" 
            (mousemove)="onMouseMove($event)" 
            (mouseup)="onMouseUp($event)"></canvas>
    <mat-icon [routerLink]="['/acceuil']" class="home">home</mat-icon>
    <div class="boites">
        <div class="boite" *ngFor="let boite of boites" 
            [ngStyle]="{'background-image': 'url(' + boite.image + ')'}" 
            (click)="onBoiteClick(boite)">
        </div>
    </div>
</div>
