<div class="container">
    <canvas #canvas width="1500" height="1000" 
            (mousedown)="onMouseDown($event)"></canvas>
    <mat-icon [routerLink]="['/acceuil']" class="home">home</mat-icon>
    <div class="boites">
        <div class="boite" *ngFor="let boite of boites" 
            [ngStyle]="{'background-image': 'url(' + boite.image + ')'}" 
            (click)="onBoiteClick(boite)">
        </div>
    </div>
    <div class="tableau" [ngStyle]="{'background-image': 'url(' + tableau.image + ')'}">
        <!-- Section pour afficher les images de score -->
        <div class="status-image">
            <div class="score-images">
                <img *ngFor="let scoreImage of scoreImages" [src]="scoreImage" class="score-image" alt="Score Image">
            </div>
        </div>
    </div>       
</div>
